@font-face {
    font-family: "Poppins";
    src:
        url('./fonts/poppins/Poppins-Medium.ttf') format('truetype'),
        url('./fonts/poppins/Poppins-Medium.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}
